
img {
  : center;
  width: 700px;
  
}
body {
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
    padding: 0;
    padding-top: 0;
    margin: 0;
    text-align: center;
    
    
}

h1 {
    color: maroon;
    font-size: 80px;
    font-family: inherit;
}

p {
    color: darkred;
    font-size: 20px;
    font-family: fantasy;
    font-style: oblique;
    max-width: 90%;
    ;
}

input {
    font-size: 20px;
    justify-items: center;
    
}

h3 {
    color: red;
    font-size: 40px;
    font-family: sans-serif;  
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
}

